# IDE / OS
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log

# Node / Angular
e-commerce-frontend/node_modules/
e-commerce-frontend/dist/
e-commerce-frontend/.angular/
npm-debug.log

# Docker
docker-compose/hadoop.env
